{% extends 'header.html' %}
{% load static %}
{% block head %}
    <style>
        .main {
            margin-left:auto;
            margin-right: auto;
            margin-top:30px;
            width:1200px;
            height:600px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 10px 18px rgba(0,0,0,0.1), 0 10px 18px rgba(0,0,0,0.1)
        }
        .header{
            width: 100%;
            margin-top:-4px;
            background-color: #f3f3f3;
            height:100px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .title {
            display: inline-block;
            height:60px;
            font-family: Arial;
            width:240px;
            font-size: 20px;
            margin: 0px;
            padding: 20px;
            font-weight: 200;
            letter-spacing: 2px;
            background-color: yellow;
        }
        .description {
            display: inline-block;
            height:60px;
            font-size: 20px;
            width:700px;
            margin: 0px;
            padding: 20px;
            overflow-wrap: break-spaces;
            background-color: green;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="main">
{#        <img src="passionatelycurious/static/img/chevron-bottom-colour.svg" alt="Intelligent Machines Cover Image">#}
        <img src="{% static 'img/im_cover.svg' %}" alt="Intelligent Machines Cover Image">
        <div class="header">
{#            <div class="title">#}
{#                Intelligent Machines#}
{#            </div>#}
{#            <div class="description">#}
{#                The compelling story behind our everyday computers. A narrative on human's most recent brainchild, the creation of intelligent machines.#}
{#                A technology that has become so crucial yet so unknown by those that are shaped by it everyday.#}
{#            </div>#}
        </div>
    </div>
{% endblock %}